backend/config/local.js
backend/node_modules
backend/bower_components
backend/.tmp
backend/dump.rdb
backend/lib-cov
backend/*.seed
backend/*.log
backend/*.out
backend/*.pid
backend/npm-debug.log
backend/*~
backend/*#
backend/.DS_STORE
backend/.netbeans
backend/nbproject
backend/.idea
backend/.node_history

frontend/node_modules
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*