<!DOCTYPE html>
<html>
  <head>
    <title>9-й лагерь чувашского языка «Хавал»</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="/app/css/bundle.css">
  </head>

  <body>
    <%- body %>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
    <script src="/app/js/bundle.js"></script>
  </body>
</html>
